<%- include('../layout/header.ejs') %>
<div class="container-xl bootdey w-50">
    <div class="panel mt-5">
        <div class="card w-100 h-50">
            <input type="hidden" id="post_id" value="<%= post.id %>">
            <div class="card-header d-flex">
                <a class="media-left" href="/user_profile"><img class="img-circle img-sm" alt="Profile Picture" src="<%= post?.users?.image ? '/upload/' + post.users.image : 'http://bootdey.com/img/Content/avatar/avatar1.png' %>" /></a>
                <div class="mar-btm">
                    <a href="/user_profile" class="btn-link text-semibold media-heading box-inline">
                        <%= post?.users?.fullname %>
                    </a>
                    <p class="text-muted text-sm">
                        <i class="fa-lg"></i><span class="post-time" data-time="<%= post.createdAt %>"></span>
                    </p>                    
                </div>
            </div>
            <p class="card-text p-3">
                <%= post?.content %>
            </p>
            <img class="card-img" class="w-100 h-50" src="/upload/<%= post.image %>" alt=""/>
            <div class="card-footer d-flex align-items-center">
                <div>
                    <span class="number-like"><%= post?.number_like %></span>
                </div>
                <form class="btn btn-sm btn-default btn-hover-success like-form " method="POST">
                    <input type="hidden" name="post_id" value="<%= post.id %>">
                    <% if (user) { %>
                        <input type="hidden" id="fullname" value="<%= user.fullname %>">
                        <input type="hidden" id="image" value="<%= user.image %>">
                        <% let likedUserIds = post.likes.map(like => like.user_id); %>
                        <div>
                            <% if (likedUserIds.includes(user.id)) { %>
                            <button type="submit">
                                <i class="fa fa-thumbs-up active"></i>
                            </button>
                            <% } else { %>
                            <button type="submit">
                                <i class="fa fa-thumbs-up"></i>
                            </button>
                            <% } %>
                        </div>
                    <% } else { %>
                        <button type="submit">
                            <i class="fa fa-thumbs-up"></i>
                        </button>
                    <% } %>
                </form>
                <div id="comment-count">
                    <%= post?.comments.length %>
                </div>
                <a class="btn btn-sm btn-default btn-hover-primary" href="#"><i class="fa fa-comment"></i> Comments</a>
            </div>
            <form class="form-text-comment" id="commentForm" method="POST">
                <textarea class="form-control comment-post" id="inputComment" name="content" placeholder="Comment...." rows="2"></textarea>
                <div class="mar-top-submit clearfix">
                    <button type="submit" class="btn btn-sm btn-primary pull-right float-end">Submit</button>
                </div>
            </form>                               
            <div id="comment-lists">
                <div id="comment-message" class="alert" role="alert" style="display: none;"></div>
                <% let commentFound = false; %>
                <% commentPost.forEach(function(comment) { %>
                    <% if (post.id === comment.post_id) { %>
                        <% commentFound = true; %>
                        <div class="media-block content-comment" id="comment-<%= comment.id %>" data-path="<%= comment.path %>">
                            <a class="media-left" href="#">
                                <img class="img-circle img-sm" alt="Profile Picture" src="<%= comment.users.image ? '/upload/' + comment.users.image : 'http://bootdey.com/img/Content/avatar/avatar1.png' %>"/>
                            </a>
                            <div class="media-body mar-btm">
                                <div class="user-heading">
                                    <a href="#" class="btn-link text-semibold media-heading box-inline">
                                        <%= comment.users.fullname %>
                                    </a>
                                </div>
                                <div class="comment" id="comment-<%= comment.id %>">
                                    <p class="text-muted text-sm">
                                        <i class="fa fa-mobile fa-lg"></i>
                                        <span class="comment-time" data-time="<%= comment.updatedAt %>"></span>
                                    </p>
                                    <div class="comment-content">
                                        <span id="comment-content-<%= comment.id %>"><%= comment.content %></span>
                                        <div class="edit-comment-form hidden" id="edit-form-<%= comment.id %>">
                                            <textarea class="form-control edit-comment mb-2" name="edit-comment" placeholder="Edit your comment" rows="2"><%= comment.content %></textarea>
                                            <div class="mb-3">
                                                <button type="button" class="btn btn-sm btn-secondary cancel-edit" data-id="<%= comment.id %>">Cancel</button>
                                                <button type="button" class="btn btn-sm btn-primary submit-edit" data-id="<%= comment.id %>">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pad-ver">
                                        <div class="btn-group">
                                            <div>
                                                <span class="comment-number-like"><%= comment.number_like %></span>
                                                <a class="btn btn-sm btn-default btn-hover-success comment-like-btn" href="#" data-comment-id="<%= comment.id %>" data-post-id="<%= post.id %>">
                                                    <% if (user) { %>
                                                        <% const likedUserIds = comment.likes.map(like => like.user_id); %>
                                                        <div>
                                                            <% if (likedUserIds.includes(user.id)) { %>
                                                                <i class="fa fa-thumbs-up like-comment active"></i>
                                                            <% } else { %>
                                                                <i class="fa fa-thumbs-up like-comment"></i>
                                                            <% } %>
                                                        </div>
                                                    <% } else { %>
                                                        <i class="fa fa-thumbs-up like-comment"></i>
                                                    <% } %>                                                    
                                                </a>
                                            </div>
                                            <a class="btn btn-sm btn-default btn-hover-primary reply-btn" href="#">
                                                <i class="fa fa-comment"></i> Reply
                                            </a>
                                            <% if (user?.id === comment?.user_id) { %> 
                                                <a class="btn btn-sm btn-default btn-edit" href="#" data-comment-id="<%= comment.id %>">
                                                    <i class="fa-solid fa-pen-to-square"></i> Edit
                                                </a>
                                            <% } %>                                           
                                            <% if (post?.user_id === user?.id || user?.id === comment?.user_id) { %>
                                                <a class="btn btn-sm btn-default btn-delete" href="#" data-comment-id="<%= comment.id %>">
                                                    <i class="fa-solid fa-trash-can"></i> Del
                                                </a>
                                            <% } %>
                                        </div>
                                    </div>                                            
                                </div>                                                               
                                <form class="form-text-comment hidden reply-comment-form" method="POST">
                                    <textarea class="form-control comment-post" name="comment" placeholder="Comment...." rows="2"></textarea>
                                    <input type="hidden" name="path" value="<%= comment.path %>">
                                    <div class="mar-top clearfix">
                                        <button type="submit" class="btn btn-sm btn-primary pull-right float-end">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>                        
                    <% } %>
                <% }); %>
                <% if (!commentFound) { %>
                    <div class="not-find-comment">
                        <p>Hãy nhập comment của bạn!</p>
                    </div>
                <% } %>          
            </div>
        </div>
    </div>
</div>
<%- include('../layout/footer.ejs') %>
