<%- include('../layout/header.ejs') %>
<%- include('../layout/sidebar.ejs') %>
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Manage Users</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a href="/admin/dashboard">Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Index Users
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-default color-palette-box">
                <div class="card-header" id="records-header">
                    <div class="row">
                        <div class="col-sm-4 col-xs-4">
                            <h3 class="card-title">
                                <i class="fas fa-tag"></i>
                                Users
                            </h3>
                        </div>
                        <div class="col-sm-6 col-xs-4 dataTables_wrapper">
                            <form method="get" action="/admin/search_users" class="form-horizontal float-right">
                                <div class="dataTables_filter d-flex">
                                    <label class="mb-0 d-flex">Search: <input type="search" class="form-control form-control-sm" placeholder="" name="kw" id="searchInput"
                                        value=""></label>
                                    
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-2 col-xs-4">
                            <button id="delete-records" class="btn btn-danger float-right">
                                <i class="fa fa-trash"></i>
                            </button>
                            <a href="/admin/users/add" id="add-record" type="button"
                                class="btn btn-primary float-right">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="table_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-12">
                                <table controller="blogs" class="table table-bordered table-striped dataTable"
                                    role="grid" aria-describedby="example1_info">
                                    <thead>
                                        <tr role="row">
                                            <th width="4%">ID</th>
                                            <th width="10%">Full Name</th>
                                            <th class="tabletShow" width="20%">Email</th>
                                            <th class="webShow" width="15%">Avatar</th>
                                            <th class="tabletShow" width="20%">Phone Number</th>
                                            <th class="tabletShow" width="10%">Role</th>
                                            <th width="16%">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody-blogs" class="records">
                                        <% users.forEach(user=> { %>
                                        <tr role="row">
                                            </td>
                                            <td id="id<%= user.id %>">
                                                <%= user.id %>
                                            </td>
                                            <td id="fullname<%= user.id %>">
                                                <%= user.fullname %>
                                            </td>
                                            <td class="tabletShow" id="content<%= user.id %>">
                                                <%= user.email %>
                                            </td>
                                            <% if (user.image) { %>
                                            <td><img src="/upload/<%= user.image %>" width="100" alt=""
                                                    class="img-thumbnail"></td>
                                            <% } else { %>
                                            <td>
                                                <p>No Image</p>
                                            </td>
                                            <% } %>
                                            <% if (user.phone) { %>
                                            <td>
                                                <%= user.phone %>
                                            </td>
                                            <% } else { %>
                                            <td>No phone number</td>
                                            <% } %>
                                            <% if (user.role==0) { %>
                                            <td>Admin</td>
                                            <% } else { %>
                                            <td>User</td>
                                            <% } %>
                                            <td class="btn-act" id="action<%= user.id %>">
                                                <a href="/admin/view_user/<%= user.id %>" id="view<%= user.id %>"
                                                    type="button" class="btn btn-success view-record">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </a>
                                                <a href="/admin/edit_user/<%= user.id  %>" id="edit5" type="button"
                                                    class="btn btn-primary edit-record">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <button id="del<%= user.id %>" type="button"
                                                    class="btn btn-danger del-record" alt="<%= user.id %>">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <% }); %>
                                    </tbody>
                                    <thead>
                                        <tr role="row">
                                            <th width="4%">ID</th>
                                            <th width="10%">Full Name</th>
                                            <th class="tabletShow" width="20%">Email</th>
                                            <th class="webShow" width="15%">Avatar</th>
                                            <th class="tabletShow" width="10%">Phone Number</th>
                                            </th>
                                            <th class="tabletShow" width="20%">Role</th>
                                            <th width="16%">Action</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="row">                          
                            <div class="pagination-container mt-3">
                                <%- generatePagination(currentPage, totalPages, postsPerPage, totalUsers, true, keyword) %>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<%- include('../layout/footer.ejs') %>