<%- include('../layout/header') %>
<div class="container">
    <div class="row row-offcanvas row-offcanvas-right my-5">
        <div class="col-xs-12 col-sm-7">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <colgroup>
                        <col class="col-xs-1" />
                        <col class="col-xs-7" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Field</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% 
                            const data = post.dataValues;
                            Object.entries(data).forEach(([field, value]) => { 
                                if (field === 'user_id' || field === 'id' || field === 'image') return;
                        %>
                            <tr>
                                <th scope="row"><%= field %></th>
                                <td>
                                    <% if (field === 'avatar') { %>
                                        <img src="/upload/<%= value %>" alt="Avatar" style="max-width: 200px; height: auto;" />
                                    <% } else if (value === null || value === undefined) { %>
                                        Undefined
                                    <% } else if (field === 'status') { %>
                                        <%= value === 1 ? 'Enable' : 'Disable' %>
                                    <% } else { %>
                                        <%= value %>
                                    <% } %>
                                </td>
                            </tr>
                        <% }); %>                                                                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-6 col-sm-5 sidebar-offcanvas" id="sidebar">
            <div class="list-group">
                <% if (post.dataValues.image) { %>
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">Hình Ảnh</h4>
                        <img src="/upload/<%= post.dataValues.image %>" alt="Image" style="max-width: 100%; height: auto;" />
                    </div>
                <% } else { %>
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">Không có hình ảnh</h4>
                    </div>
                <% } %>
            </div>
        </div>
    </div>    
</div>
<%- include('../layout/footer') %>
